**/target/
**/node_modules/
**/__pycache__/
**/.wrangler/
**/.env*
**/state/
**/*.exe
**/*.dll
**/*.pyd
**/*.pyc
**/owner.dpapi
**/licenses.enc.json
**/codes-private.txt
AUTOCATCHSUBS-ADMIN/
AUTOCATCHSUBS-backend-dist/
AUTOCATCHSUBS-build-tools/
AUTOCATCHSUBS-release-binaries/
AUTOCATCHSUBS-installers/
*.log
ui/preview/
